<nc-title title="Chart" small='柱状图示例'></nc-title>

<nz-card [nzLoading]="loading" [nzBordered]="false" nzNoPadding class="sales-card">
    <ng-template #body>
        <nz-tabset>
            <nz-tab>
                <ng-template #nzTabHeading>访问量</ng-template>
                <div nz-row>
                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
                        <v-chart forceFit="true" height="300" [padding]="[20, 80, 95, 40]" [data]="data1" [scale]="scale1">
                            <v-tooltip></v-tooltip>
                            <v-axis></v-axis>
                            <v-bar position="year*sales"></v-bar>
                            <v-line position="year*people" color="#90ed7d"></v-line>
                            <v-point position="year*people" color="red"  shape="circle"></v-point>
                            <v-smooth-line position="year*people" color="#000" shape="smooth"></v-smooth-line>
                            <v-stack-bar position="year*people" [ngStyle]="{ stroke: '#fff', lineWidth: 1 }"></v-stack-bar>
                        </v-chart>
                    </div>

                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
                        <v-chart forceFit="true" height="300" [data]="data2">
                            <v-tooltip></v-tooltip>
                            <v-axis></v-axis>
                            <v-legend></v-legend>
                            <v-bar position="月份*月均降雨量" color="name" [adjust]="adjust2"></v-bar>
                        </v-chart>
                    </div>

                </div>
            </nz-tab>
            <ng-template #nzTabBarExtraContent>
                <div class="sales-extra-wrap">
                    <div class="sales-extra">
                        <a (click)="setDate('today')">今日</a>
                        <a (click)="setDate('week')">本周</a>
                        <a (click)="setDate('month')">本月</a>
                        <a (click)="setDate('year')">全年</a>
                    </div>
                    <nz-datepicker style="width:120px" class="mr-md" [(ngModel)]="search.startTime" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'开始日期'"></nz-datepicker>
                    <nz-datepicker style="width:120px" [nzFormat]="'YYYY-MM-DD'" [(ngModel)]="search.endTiem" [nzPlaceHolder]="'结束日期'"></nz-datepicker>
                </div>
            </ng-template>
        </nz-tabset>
    </ng-template>
</nz-card>