.login{
    padding-top: 150px; 
    margin-left: 40%; 
    .login-form {
        max-width: 300px;
        width: 300px;
    }

    .login-form-forgot {
        float: right;
    }

    .login-form-button {
        width: 100%;
    }
}