/* You can add global styles to this file, and also import other style files */
@import '../node_modules/quill/dist/quill.snow.css';
body {
  margin: 0;
  min-height: 100vh;
}
ul,
li {
  list-style: none;
}

.active {
  color: #108ee9;
}
