/* You can add global styles to this file, and also import other style files */
@import '../node_modules/quill/dist/quill.snow.css';
body {
  margin:0;
  padding:0;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f7fa!important;
}
ul,
li {
  list-style: none;
}

.active {
  color: #108ee9;
}

.content__title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #929292;
  padding: 12px 24px;
  margin-right: -24px;
  margin-left: -24px;
  margin-bottom: 24px;
  background-color: #fafbfc;
  border-bottom: 1px solid #efe3e5;
  h1{
    font-size: 18px;
    font-weight: 400;
    line-height: inherit;
    small{
      display: block;
      font-size: 12px;
      color: #a6a6a6;
    }
  }
}

nz-card {
  margin-bottom: 16px!important;
}


.sales-extra {
  display: inline-block;
  margin-right: 24px;
  a {
      margin-left: 24px;
  }
}