<div class="login">

    <form nz-form [formGroup]="validateForm" class="login-form"> 
        <div class="login-header">
                <img class="logo-img" src="../../assets/img/logo-color.svg">
                <span>angular-demo</span>
        </div>
        <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.userName" nzHasFeedback >
                <nz-input formControlName="userName" [(ngModel)]="userName" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
                    <ng-template #prefix>
                    <i class="anticon anticon-user"></i>
                    </ng-template>
                </nz-input>
            </div>
        </div>
        <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.passWord" nzHasFeedback >
                <nz-input formControlName="passWord" [(ngModel)]="passWord" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
                    <ng-template #prefix>
                    <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input>
            </div>
        </div>
        <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.verifyPassWord" nzHasFeedback >
                <nz-input formControlName="verifyPassWord" [(ngModel)]="verifyPassWord" [nzType]="'password'" [nzPlaceHolder]="'重复密码'" [nzSize]="'large'">
                    <ng-template #prefix>
                    <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input>
            </div>
        </div>
        <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.mobile" nzHasFeedback >
                <nz-input formControlName="mobile" [(ngModel)]="mobile"  [nzPlaceHolder]="'手机号码'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-mobile"></i>
                    </ng-template>
                </nz-input>
            </div>
        </div>
        <div nz-form-item>
            <button nz-button class="login-form-button" [disabled]="!validateForm.valid" [nzType]="'primary'" (click)="register()" [nzSize]="'large'">注册</button>
        </div>

        <div class="login-foot">
            <span routerLink='/login'>使用已登陆账户</span>
        </div>
    </form>
</div>